@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
  font-family: 'Josefin Sans', cursive;
}
::-webkit-scrollbar {
  width: 10px;
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}
